body { 
	background-image: url(../images/bg.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	color: #fff; /*white*/
	font-family: 'Gudea', sans-serif;
	height: 100vh;
	
	 }

h1 {
	font-family: 'Gudea', sans-serif;
	font-size: 50px;
	margin-bottom: 0;
	/*background-color: #333;*/ /*off-black*/
	/*text-transform: uppercase;*/
	letter-spacing: 3px;

}

h2{
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #ff8080 ;

}

#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: white;
	margin-top: 70px;


}

.bio {
	margin-top: 150px;
	font-family: 'Work Sans', sans-serif;
	width: 100%;
	font-size: 18px;
	line-height: 1.5;
	color: #ffccff;
	/*background-color: rgb(217, 217, 217, 0.8); */

}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center; 
}

.verse {
	
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	font-style: italic;
	width: 85%;
	color: rgb(250, 235, 250);
	margin: 0 auto;
	margin-top: 110px;

	


}